@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; /* SemiBold */
}
/* Contenedor del login*/
section {
    display: flex;
    width: 80%;
    max-width: 900px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
