@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; /* SemiBold */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7d2ae8;
    font-family: Arial, sans-serif;
    margin: 0;
}

.login-container{
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
}
.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
}
.input-container {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.input-container input {
    background: transparent;
    border: none;
    outline: none;
    flex: 1;
    color: #333;
    font-size: 16px;
}
.input-container i {
    margin-right: 10px;
    color: #666;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #5c67f2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #4a54e1;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-top: 5px;
    color: #5c67f2;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
